*.iml
.gradle/
.kotlin/
local.properties
.idea/
.DS_Store
/build/
/app/build/
/phone/build/
tmp-logs/
nul
captures
.externalNativeBuild
.cxx
*.apk
*.aab
# Signing
app/release-key.jks
*.jks
*.keystore
